@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Itim&display=swap');

/* Aplicar la fuente 'Itim' al título o elementos específicos */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-family: 'Itim', cursive;
}
/* Estilos del contenedor */
.countdown-container {
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para la muestra del contador */
.countdown-item-title {
    font-size: 5rem;
    margin: 0 15px;
}

.countdown-item-text {
    font-size: 2.5rem;
    margin: 0 15px;
}

/* Fondo de video */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

/* Contenedor de cuenta regresiva */
.countdown-container {
    position: relative;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
