@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Itim&display=swap');

/* Estilos base */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Uso de H1 */
h1 {
    font-family: 'Itim', cursive;
}

/* Fondo de video */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

/* Contenedor de cuenta regresiva */
.countdown-container {
    position: relative;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}


/* Para contar los días */
.countdown-item-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Itim', cursive;
}

/* Para contar las horas, minutos y segundos */
.countdown-item-text {
    font-size: 2rem;
    margin: 10px 0;
}

/* Media Queries para ajustar el diseño en móviles */
@media (max-width: 768px) {
    .countdown-container {
        padding: 15px;
        margin: 10px;
    }
    .countdown-item-title {
        font-size: 2rem;
    }
    .countdown-item-text {
        font-size: 1.5rem;
    }
    h1, .countdown-title {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    .countdown-container {
        padding: 15px;
        margin: 10px auto;
        width: 100%;
    }
    .countdown-item-title {
        font-size: 1.5rem;
    }
    .countdown-item-text {
        font-size: 1.2rem;
    }
    h1, .countdown-title {
        font-size: 1.4rem;
    }
}