@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Itim&display=swap');

/* Estilos base */
body {
    font-family: 'Roboto', sans-serif;
    display: block; /* Cambia de flex a block para permitir el desplazamiento */
    height: auto; /* Asegura que la altura se ajuste automáticamente */
    margin: 0;
    overflow: auto; /* Asegura que el desplazamiento esté habilitado */
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

/* Uso de H1 */
h1 {
    font-family: 'Itim', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Para centrar verticalmente */
}

/* Fondo de video */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

/* Contenedor de cuenta regresiva */
.countdown-container {
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
}

/* Para contar los días */
.countdown-item-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Itim', cursive;
}

/* Para contar las horas, minutos y segundos */
.countdown-item-text {
    font-size: 2rem;
    margin: 10px 0;
}

/* Media Queries para ajustarse a pantallas pequeñas */
@media (max-width: 768px) {
    .countdown-item-title {
        font-size: 2rem;
    }
    .countdown-item-text {
        font-size: 1.5rem;
    }
    .countdown-container {
        padding: 15px;
        margin: 15px auto;
    }
}

@media (max-width: 480px) {
    .countdown-item-title {
        font-size: 1.5rem;
    }
    .countdown-item-text {
        font-size: 1.2rem;
    }
    .countdown-container {
        padding: 10px;
        margin: 10px auto;
        width: 100%;
    }
}